<!--



SAMPLE TEMPLATE PARTIAL
REMOVE THIS ENTIRE PAGE AND REPLACE IT WITH YOUR OWN CONTENT

-->
<style>
	/*
	
	REMOVE ALL OF THIS STYLE ONCE YOU BEING CREATING YOUR APP.
	THIS IS ONLY SAMPLE STYLE FOR THE INTRO PAGE.

	*/
	body {
		background: #F2F2F3;
	}

	.container {
		background: #ffffff;
		border: 1px solid #DCD8DB;
		margin: 50px auto;
		padding: 30px;
	}

	h1,h2, h3 {
		font-weight: 100;
	}

</style>

<h1>fantasy-draft-buddy Generated Successfully!</h1>
<h3>So what just happened?</h3>

<p>
	Well, we did a few things like:
	<ul>
		<li>Created an application structure</li>
		<li>Wired these dependencies:
			<ul>
				<li><a href="https://angularjs.org/">AngularJS</a></li>
				<li><a href="https://github.com/angular-ui/ui-router">UI Router</li>
				<li><a href="https://github.kdc.capitalone.com/chassis/oneui-core-style">OneUI Core Style</a></li>
			</ul>
		</li>
		<li>Created Modules, Controllers, and a sample Service</li>
	</ul>
</p>

<h2>So what's next?</h2>
<p>You might want to take a look at the <a href="https://github.kdc.capitalone.com/OneUI">OneUI framework</a> and see if there are any components that match your needs that you can install.</p>
<p>Other than just, just get to developing!</p>


<h4>NOTE: THIS PAGE IS JUST FOR DEMONSTRATION PURPOSES.</h4>


